/* --------------------------------imports------------------------------------ */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

/* ----------------------------------------------------------------------------- */

.container
{
    max-width: 1500px;
    margin: auto;
}

.flex
{
    display: flex;
}

.flexultra{
    display: flex;
	align-items: center;
	justify-content: center;
}